ul {
  text-align: center;
  line-height: 2em;
  list-style-type: none;
  text-shadow: 0.5px 0.5px darkgray;
}

.weather {
  font-weight: bold;
}

.blue-container {
  font-size: 1.2em;
  width: 100%;
  background-color: #00C2FF;
  color: white;
  margin: 3em 0 0;
  padding: 2em 0 1em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}

.blue-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background: #00C2FF;
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}

.blue-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background: white;
  top: -80px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: -1;
}

.blue-container ul {
  transform: skewY(2deg);
}
