<div class="container">

  <br>

  <h1>Weather Data</h1>

</div>

<div class="blue-container">

  <ul class="weather">
    <li>City: {{ weather.name }}</li>
    <li>Description: {{ weather.weather[0].description }}</li>
    <li>Temperature: {{ weather.main.temp | number:'.1-1' | temperature }}</li>
    <li>Feels like: {{ weather.main.feels_like | number:'.1-1' | temperature }}</li>
    <li>Humidity: {{ weather.main.humidity / 100 | percent }}</li><br>
    <li><span class="green-button" (click)="newWeather()">UPDATE</span></li>
  </ul>

</div>

<div class="container">
</div>
