<!-- One-way data binding -->
<!-- (click) is a click event; when element is clicked, function countClick() is called -->
<!-- clickCounter is a property that displays data retrieved from the component -->

<div class="container">

  <section>

    <img
      src="../../../assets/logo.png"
      alt="logo"
      [ngClass]="active() ? 'active' : 'inactive'"
    >

    <ng-template [ngIf]="name === ''" [ngIfElse]="none">
      <h1>Welcome!</h1>
    </ng-template>

    <ng-template #none>
      <h1>Welcome {{ name }}!</h1>
    </ng-template>

    <p>
      Type your name:
      <label>
        <input
          #box
          (keyup)="onKeyUp(box.value)"
          (keyup.enter)="onKeyUp(box.value)"
          (blur)="onKeyUp(box.value)"
        >
      </label>
    </p>

  </section>

</div>
