$primary: #24292E;

input {
    padding: .5em;
    margin: 1em;
    font-family: 'Montserrat', 'sans-serif';
}

.active {
  width: 60%;
  padding: 2em;
  animation: move 2s infinite alternate;
}

.inactive {
  width: 60%;
  padding: 2em;
}

@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
