.button {
  font-size: 10pt;
  font-weight: normal;
  background: whitesmoke;
  padding: .3em .8em;
  cursor: pointer;
  box-shadow: 0 0 2px darkgrey;
}

.button:hover {
  background: #dddddd;
  box-shadow: 0 0 10px darkgray;
}

.joke {
  font-style: italic;
  font-weight: normal;
}
