$primary: #24292E;

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-form-field {
  width: 50%;
  font-size: 0.9em;
  margin: 0.5em 0;
}

.alert {
  color: #f44336;
  font-size: smaller;
  margin: 0 0 1em 0;
}

.register {
  background: #03a9f4;
  width: 30%;
  margin: 1.5em auto;
}

.register:hover {
  background: #0386c1;
}

.register:focus {
  background: #0399dd;
}

.register:active {
  background: #046c9b;
  box-shadow: 0 0 20px darkgray;
}

.subtext {
  font-size: smaller;
}

.subtext span {
  color: #03a9f4;
  cursor: pointer;
  text-decoration: underline;
}
