/* You can add global styles to this file, and also import other style files */

@import url('http://fonts.googleapis.com/css?family=Montserrat:400,600');

$primary: #24292E;

body {
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
}

.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.green-button {
  background: #00CC80;
  width: 50%;
  display: block;

  border-radius: 20px;
  padding: .5em;
  margin: 3% auto 7%;

  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 0;

  box-shadow: 0 0 2px darkgrey;
}

.green-button:hover {
  box-shadow: 0 0 15px darkgray;
}
