@import url('http://fonts.googleapis.com/css?family=Montserrat:400,600');

$primary: #24292E;

* {
  font-family: 'Montserrat', 'sans-serif';
  outline: none;
}

body {
  margin: 0;
}

h1 {
  margin: 1.5em 0 1em;
}

.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.green-button {
  background: #00CC80;
  width: 50%;
  display: block;

  border-radius: 20px;
  padding: .5em;
  margin: 3% auto 7%;

  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 0;

  box-shadow: 0 0 2px darkgrey;
}

.green-button:hover {
  background: #00ae71;
  box-shadow: 0 0 15px darkgray;
}

.green-button:focus {
  background: #01bc76;
}

@media only screen and (min-width: 875px) {

  .green-button {
    width: 40%;
  }

  .container {
    width: 60%;
    margin: 0 auto;
  }
}

/** Angular Material */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-testing-primary: mat-palette($mat-light-blue);
$app-testing-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-testing-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-testing-theme: mat-light-theme((
  color: (
    primary: $app-testing-primary,
    accent: $app-testing-accent,
    warn: $app-testing-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-testing-theme);

/* You can add global styles to this file, and also import other style files */
